.footer {
  height: 75px;
  width: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    height: 50px;
    width: 75%;

    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 600;

    padding-left: 15px;
    border: 2px solid #2d97dc;
    border-radius: 15px;
  }

  button {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #2d97dc;

    background-color: #ffffff;
    border: 2px solid #2d97dc;
    border-radius: 15px;
    height: 50px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    min-width: 60px;
    will-change: transform;

    &:disabled {
      pointer-events: none;
    }

    &:hover {
      color: #ffffff;
      background-color: #2d97dc;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }

    &:active {
      box-shadow: none;
      transform: translateY(0);
    }
  }
}